
# Storm Impact Prediction and Risk Analysis

## Objective
This project aims to analyze storm data to identify patterns, assess risk factors, and prepare the dataset for potential machine learning tasks such as storm severity classification or impact prediction.

In [4]:

# 1. Import Necessary Libraries
import pandas as pd
import numpy as np

In [5]:

# 2. Load the Dataset
df = pd.read_csv("storms.csv")
df.head()

,name,year,month,day,hour,lat,long,status,category,wind,pressure,tropicalstorm_force_diameter,hurricane_force_diameter
0,AL011975,1975,6,24,12,32.5,-52.0,tropical depression,NaN,20,-999,-1998,-1998
1,AL011975,1975,6,24,18,32.6,-52.6,tropical depression,NaN,25,-999,-1998,-1998
2,AL011975,1975,6,25,0,32.7,-53.2,tropical depression,NaN,25,-999,-1998,-1998
3,AL011975,1975,6,25,60,32.8,-53.2,tropical depression,NaN,25,-999,-1998,-1998
4,AL011975,1975,6,25,12,33.0,-54.5,tropical depression,NaN,25,-999,-1998,-1998

In [6]:

# 3. Explore the Dataset

# Basic Information
print("=== Dataset Information ===")
print(df.info())

# Statistical Summary
print("\n=== Dataset Description ===")
print(df.describe())

# Missing Values
print("\n=== Missing Values ===")
print(df.isnull().sum())

=== Dataset Information ===
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 22705 entries, 0 to 22704
Data columns (total 13 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   name                          22705 non-null  object
 1   year                          22705 non-null  int64
 2   month                         22705 non-null  int64
 3   day                           22705 non-null  int64
 4   hour                          22705 non-null  int64
 5   lat                           22705 non-null  float64
 6   long                          22705 non-null  float64
 7   status                        22705 non-null  object
 8   category                      5162 non-null   float64
 9   wind                          22705 non-null  int64
 10  pressure                      22705 non-null  int64
 11  tropicalstorm_force_diameter  22705 non-null  int64
 12  hurricane_force_diameter      22705 non-null  int64
dtypes: float64(3), int64(8), object(2)
memory usage: 2.3+ MB
None

=== Dataset Description ===
               year         month          day          hour           lat  \
count  22705.000000  22705.000000  22705.00000  22705.000000  22705.000000
mean    2001.987932      8.689055     15.75098     22.528254     26.606276
std       14.388083      1.353205      8.93909     22.556684     10.393664
min     1975.000000      1.000000      1.00000      0.000000      7.000000
25%     1990.000000      8.000000      8.00000     12.000000     18.000000
50%     2003.000000      9.000000     16.00000     18.000000     26.000000
75%     2015.000000      9.000000     24.00000     22.000000     33.400000
max     2024.000000     12.000000     31.00000     94.000000     70.700000

               long     category          wind      pressure  \
count  22705.000000  5162.000000  22705.000000  22705.000000
mean     -61.275345     1.892871     48.069544    825.105792
std       21.190347     1.149691     25.960262    554.391164
min     -136.900000     1.000000    -99.000000   -999.000000
25%      -78.800000     1.000000     30.000000    979.000000
50%      -61.700000     1.000000     40.000000    998.000000
75%      -45.200000     3.000000     60.000000   1006.000000
max       13.500000     5.000000    165.000000   1024.000000

       tropicalstorm_force_diameter  hurricane_force_diameter
count                  22705.000000              22705.000000
mean                    -933.110857               -999.256419
std                     1078.719263               1006.687374
min                    -1998.000000              -1998.000000
25%                    -1998.000000              -1998.000000
50%                    -1998.000000              -1998.000000
75%                      110.000000                  0.000000
max                     1440.000000                300.000000

=== Missing Values ===
name                                0
year                                0
month                               0
day                                 0
hour                                0
lat                                 0
long                                0
status                              0
category                        17543
wind                                0
pressure                            0
tropicalstorm_force_diameter        0
hurricane_force_diameter            0
dtype: int64